---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: jellyfin-certificate
  namespace: jellyfin
spec:
  commonName: jellyfin.lan.juusoleinonen.fi
  secretName: jellyfin-certificate
  dnsNames:
    - jellyfin.lan.juusoleinonen.fi
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer

---
apiVersion: traefik.io/v1alpha
kind: IngressRoute
metadata:
  name: jellyfin
  namespace: jellyfin
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`jellyfin.lan.juusoleinonen.fi`)
      priority: 10
      services:
        - name: jellyfin
          port: 8096
  tls:
    secretName: jellyfin-certificate
