---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: radarr-certificate
  namespace: radarr
spec:
  commonName: radarr.lan.juusoleinonen.fi
  secretName: radarr-certificate
  dnsNames:
    - radarr.lan.juusoleinonen.fi
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer

---
apiVersion: traefik.io/v1
kind: IngressRoute
metadata:
  name: radarr
  namespace: radarr
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`radarr.lan.juusoleinonen.fi`)
      priority: 10
      services:
        - name: radarr
          port: 7878
  tls:
    secretName: radarr-certificate
