---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: grafana-mimir-certificate
  namespace: grafana-mimir
spec:
  commonName: mimir.lan.juusoleinonen.fi
  secretName: grafana-mimir-certificate
  dnsNames:
    - mimir.lan.juusoleinonen.fi
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer

---
apiVersion: traefik.io/v1alpha
kind: IngressRoute
metadata:
  name: grafana-mimir
  namespace: grafana-mimir
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`mimir.lan.juusoleinonen.fi`)
      priority: 10
      services:
        - name: grafana-mimir
          port: 8080
  tls:
    secretName: grafana-mimir-certificate
