---
apiVersion: traefik.io/v1alpha
kind: ServersTransport
metadata:
  name: unifi-transport
  namespace: unifi
spec:
  serverName: unifi.lan.juusoleinonen.fi

---
apiVersion: traefik.io/v1alpha
kind: IngressRoute
metadata:
  name: unifi
  namespace: unifi
spec:
  entryPoints:
    - websecure
  routes:
    - kind: Rule
      match: Host(`unifi.lan.juusoleinonen.fi`)
      priority: 10
      services:
        - name: unifi-console
          port: 8443
          scheme: https
          passHostHeader: true
          serversTransport: unifi-transport
  tls:
    secretName: unifi-certificate
