apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: external-secrets-application
  namespace: argocd
spec:
  goTemplate: true
  generators:
    - git:
        repoURL: https://github.com/lordthorzonus/homelab-provisioning.git
        revision: HEAD
        directories:
          - path: kubernetes/infra/external-secrets
  template:
    metadata:
      name: external-secrets
    spec:
      project: homelab
      source:
        repoURL: https://github.com/lordthorzonus/homelab-provisioning.git
        targetRevision: HEAD
        path: kubernetes/infra/external-secrets
      destination:
        server: https://kubernetes.default.svc
      syncPolicy:
        syncOptions:
          - ServerSideApply=true
