apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: homelab-applications
  namespace: argocd
spec:
  syncPolicy:
    preserveResourcesOnDeletion: true
  goTemplate: true
  generators:
    - git:
        repoURL: https://github.com/lordthorzonus/homelab-provisioning.git
        revision: HEAD
        directories:
          - path: kubernetes/monitoring/*
          - path: kubernetes/media/*
  template:
    metadata:
      name: "{{.path.basename}}"
    spec:
      project: homelab
      source:
        repoURL: https://github.com/lordthorzonus/homelab-provisioning.git
        targetRevision: HEAD
        path: "{{.path.path}}"
      destination:
        server: https://kubernetes.default.svc
      syncPolicy:
        automated:
          selfHeal: false
